////////////////


////////////////
// Stylesheet rules

/* Hero Section */
.hero_section {
    // Variables
    $hero_content_p_c : var(--primary-color);
    $hero_content_h2_c : var(--primary-color);
    $hero_content_h2_fs : 2.5rem;
    $hero_content_h2_fw : 600;
    $hero_buy_btn_bg : var(--primary-color);
    $hero_buy_btn_c : #fff;
    $hero_buy_btn_fs: 1rem;
    background: var(--hero-bg);
    /* hero_content */
    .hero_content {
        padding-top: 45px;
        /* H2 */
        h2 {
            color: $hero_content_h2_c;
            font-size: $hero_content_h2_fs;
            font-weight: $hero_content_h2_fw;
            margin: 20px 0px;
        }
        /* P / hero_subtitle */
        p, .hero_subtitle {
            color: $hero_content_p_c;
            line-height: 28px;
        }
        & p:nth-child(1) {
            font-weight: 500;
        }
        /* buy_btn */
        .buy_btn {
            border: none;
            outline: none;
            padding: 8px 20px;
            border-radius: 5px;
            background: $hero_buy_btn_bg;
            color: $hero_buy_btn_c;
            cursor: pointer;
            font-size: $hero_buy_btn_fs;
            margin-top: 30px;
            & a:hover {
                color: $hero_buy_btn_c;
            }
        }
    }
    /* hero_img */
    .hero_img {
        
    }
}
/* trending_products */
.trending_products {
    
}
/* trending_products */
.best_sales {

}
/* timer_count */
.timer_count {
    ////////
    // Variable
    $timer_count_bg : var(--primary-color);
    $timer_count_height : 400px;
    $ctc_h4_c :  #fff;
    $ctc_h4_fs :  1.2rem;
    $ctc_h4_fw :  500;  
    $ctc_h3_c :  #fff;
    $ctc_h3_fs :  1.6rem;
    $ctc_h3_fw :  600;    
    $timer_count_img_w : 70% !important;
    $timer_count_img_h : 70% !important;   
    $store_btn_bg : #fff;
    $store_btn_fw : 600;
    $store_btn_c : var(--primary-color);
    $store_btn_fs: 1rem;
    ////////
    background: $timer_count_bg;
    height: $timer_count_height;
    display: flex;
    align-items: center;
    /* clock_top_content */
    .clock_top_content {
        /* h4 */
        h4 {
            color: $ctc_h4_c;
            font-size: $ctc_h4_fs;
            font-weight: $ctc_h4_fw;
            margin-bottom: 1rem;
        }
        /* h3 */
        h3 {
            color: $ctc_h3_c;
            font-size: $ctc_h3_fs;
            font-weight: $ctc_h3_fw;
            margin-bottom: 1.5rem;
        }
    }
    /* Img */
    img {
        width: $timer_count_img_w;
        height: $timer_count_img_h;
        object-fit: contain;
    }
    /* store_btn */
    .store_btn {
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 8px 20px;
        margin-top: 20px;
        background: $store_btn_bg;
        color: $store_btn_c;
        font-weight: $store_btn_fw;
        font-size: $store_btn_fs;
        /* Link Component */
        a:hover {
            color: var(--primary-color);
        }
    }
}

/* 992px */
@media only screen and (max-width: 992px) {
    /* hero_section */
    .hero_section {
        .hero_content {
            & h2 {
                font-size: 2rem;
            }
        }
    }
    .timer_count {
        /* Image */
        img {
            display: none;
        }
        /* .clock_top_content */
        .clock_top_content {
            text-align: center;
            /*  h4 */
            h4 {
                font-size: 0.9rem;
            }
            /* H3 */
            h3 {
                font-size: 1rem;
            }
        }
        .countdown_col {
            text-align: center;
            .store_btn {
                margin-top: 50px;
            }
        }
    }
}

/* 768px */
@media only screen and (max-width: 768px) {
    /* hero_section */
    .hero_section {
        .hero_content {
            & h2 {
                font-size: 1.6rem;
            }
            & p {
                font-size: 0.9rem;
            }
            & .buy_btn {
                font-size: 0.9rem;
            }
        }
    }
    .timer_count {
        img {
            display: none;
        }
    }
}

/* 576px */
@media only screen and (max-width: 576px) {
    .hero_section { 
        /* hero_content */
        .hero_content {
            padding-top: 0;
            margin-bottom: 40px;
        }
    }
}