.clock_wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    /* clock_data */
    .clock_data {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        /* clock_data_h1 */
        .clock_data_h1 {
            color: white;
            font-size: 1.75rem;
            margin-bottom: 1rem;
        }
        /* clock_data_h5 */
        .clock_data_h5 {
            color: white;
            font-size: 1rem;
        }
    }
}

@media only screen and (max-width: 992px) {
    .clock_wrapper {
        justify-content: center;
        .clock_data {
            .clock_data_h1 {
                font-size: 1.1em;
            }
            .clock_data_h5 {
                font-size: 0.9em;
            }
        }
    }
}